/* Estilo general */
body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ff97d0;
    color: #333;
}
 
.resize-image {
    width: 300px;
    height: 50%;
}


header {
    display: flex;
    align-items: center;
    background-color: #ffc9ed;
    padding: 10px 20px;
}

.logo {
    height: 50px;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #ff4bae;
}

main {
    padding: 20px;
background-color: #ffe7f4;
}

section {
    margin-bottom: 20px;
}

section h1 {
    color: #ff2894;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article img {
    max-width: 100%;
    height: 50%;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white
}

div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixed-menu{
    background-color: #ffb8df;
    color: white;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1000;
}